.AnalyticBtn {
    bottom: 10%;
    right: 12%;
    display: block;
    border-radius: 50%;
    border: none;
    background-position: 50% 12%;
    background-image: url(/static/media/analyticsFull.7e0704a3.svg);
    outline: transparent;
    transition: all .25s linear;
}