.projectInfo {
  position: relative;
}

.projectTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 6px;
  width: 110px;
}

.projectDescription {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
}

.btnDelete {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: all 200ms ease;

  position: absolute;
  top: 86px;
  left: 86px;
}

.btnDeleteIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: #8c72df;
  margin-top: 4px;
}

.btnDelete:hover .btnDeleteIcon,
.btnDelete:focus .btnDeleteIcon {
  fill: white;
}

.btnDelete:hover,
.btnDelete:focus {
  background-color: #8c72df;
}

/* !  ------------------TABLET ver.------------------ */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .projectTitle {
    font-size: 26px;
    line-height: 32px;

    margin-bottom: 10px;
    width: 176px;
  }
  .projectDescription {
    font-size: 14px;
    line-height: 17px;
  }
  .btnDelete {
    width: 34px;
    height: 34px;

    position: absolute;
    top: 152px;
    left: 152px;
  }

  .btnDeleteIcon {
    width: 18px;
    height: 18px;
  }
}

/* ! ------------------DESKTOP ver.------------------ */
@media screen and (min-width: 1280px) {
}
