.formControl {
  margin: 0 auto;

  width: 280px;
  height: 30px;
  background-color: #fafafa;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(24, 28, 39, 0.2);
}

@media screen and (min-width: 768px) {
  .formControl {
    width: 430px;
  }
}
